.project-overview__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50vw;
  max-width: 540px;
  height: 50%;
}

@media screen and (max-width: 720px) {
  .project-overview__image {
    width: 100%;
    height: 100%;
    background-size: contain;
    margin-bottom: 32px;
  }
}
