.project__navigator-button-description {
    font-family: 'publicsans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
}
