.project__overview-button {
    text-transform: uppercase;
    font-family: 'publicsans';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: rgba(51, 50, 61, 1);
    background: transparent;
    display: flex;
    max-width: 162px;
    min-width: 162px;
    justify-content: center;
    border: solid 1px rgba(51, 50, 61, 1);
    padding: 17px 0 17px 0;
    margin: auto 0;
    cursor: pointer;
    transition: 0.7s;
}
.project__overview-button:hover {
    background: rgba(51, 50, 61, 1);
    color: white;
    transition: 0.7s;
}

@media screen and (max-width: 850px) {
    .project__overview-button {
        min-width: unset;
        width: 100%;
    }
}
