.footer {
  height: 80px;
  background: rgba(51, 50, 61, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    height: 354px;
  }
}
