.homepage-top__button-icon {
  background: linear-gradient(rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%),
    url(../../../../public/images/down-arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}
