.homepage-top__button {
  height: 48px;
  background-color: rgba(32, 58, 76, 1);
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  align-items: center;
  justify-content: space-between;
}

.homepage-top__button:hover {
  background-color: rgba(95, 180, 162, 1);
  transition: background-color 0.7s;
}
